<div class="text-center mb-8">
  <h1 class="text-3xl sm:text-4xl lg:text-5xl font-medium text-gray-900 leading-tight max-w-3xl mx-auto">
    {%  if landing_hero_text %}
      <span class="font-semibold">{{ landing_hero_text|safe }}</span>
    {% else %}
      <span class="font-normal">Start&nbsp;</span>
      <span class="text-blue-600 font-semibold">saving time.</span>
    {% endif %}
  </h1>
  <p class="mt-4 text-sm sm:text-base text-gray-500">Tell us about the tedious task that you would like to automate using always-on, web browsing AI:</p>
</div>
