<form
  id="create-api-key-form"
  hx-post="{% url 'api_keys' %}"
  hx-target="#api-key-result"
  hx-swap="innerHTML"
  hx-on::after-request="
      if (event.detail.successful) {
        window.dispatchEvent(
          new CustomEvent('close-modal', { detail: { id: 'create-api-key-modal' } })
        )
      }
  ">
  {% csrf_token %}
  
  {% if form.non_field_errors %}
  <div class="my-4 p-4 bg-red-50 border border-red-200 rounded-lg" role="alert">
    <div class="flex">
      <div class="flex-shrink-0">
        <!-- Heroicon name: solid/exclamation -->
        <svg class="h-5 w-5 text-red-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
          <path fill-rule="evenodd" d="M8.257 3.099c.765-1.36 2.722-1.36 3.486 0l5.58 9.92c.75 1.334-.213 2.98-1.742 2.98H4.42c-1.53 0-2.493-1.646-1.743-2.98l5.58-9.92zM11 13a1 1 0 11-2 0 1 1 0 012 0zm-1-8a1 1 0 00-1 1v3a1 1 0 002 0V6a1 1 0 00-1-1z" clip-rule="evenodd" />
        </svg>
      </div>
      <div class="ml-3">
        <p class="text-sm text-red-700">
          {% for error in form.non_field_errors %}
            {{ error|striptags }}
          {% endfor %}
        </p>
      </div>
    </div>
  </div>
  {% endif %}
  
  <label for="id_name" class="block text-sm font-medium text-gray-700 sr-only">
    Key Name
  </label>
  <div class="mt-1 relative rounded-md shadow-sm">
    <input
      type="text"
      name="name"
      id="id_name"
      required
      placeholder="e.g. My Web App Key"
      class="
        shadow-sm block w-full sm:text-sm border-gray-300 rounded-md
        focus:ring-blue-500 focus:border-blue-500
        {% if form.name.errors %}
          border-red-300 text-red-900 placeholder-red-300
          focus:ring-red-500 focus:border-red-500 pr-10
        {% endif %}
      "
      value="{{ form.name.value|default:'New API Key' }}"
      x-ref="keyNameInput"
      autofocus
      onfocus="this.select()"
    >
    {% if form.name.errors %}
      <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center pr-3">
        <svg class="h-5 w-5 text-red-500" xmlns="http://www.w3.org/2000/svg"
             viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
          <path fill-rule="evenodd"
                d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-8-5a.75.75 0 01.75.75v4.5a.75.75 0 01-1.5 0v-4.5A.75.75 0 0110 5zm0 10a1 1 0 100-2 1 1 0 000 2z"
                clip-rule="evenodd" />
        </svg>
      </div>
    {% endif %}
  </div>

  {% if form.name.errors %}
    <p class="mt-2 text-sm text-red-600" id="name-error">
      {{ form.name.errors|join:", "|striptags }}
    </p>
  {% endif %}

  <p class="mt-2 text-sm text-gray-500">
    Give this key a meaningful name to identify its use.
  </p>
</form>
