{% load static %}
{% load waffle_tags %}

{% flag "fish_upper_left" %}
  <img src="{% static 'images/gobii_fish_with_text_purple_nav_2x.webp' %}"
       srcset="{% static 'images/gobii_fish_with_text_purple_nav_1x.webp' %} 1x, {% static 'images/gobii_fish_with_text_purple_nav_2x.webp' %} 2x, {% static 'images/gobii_fish_with_text_purple_nav_3x.webp' %} 3x"
       alt="Gobii Fish Wordmark"
       class="h-10 w-auto"
       width="108"
       height="40"
       loading="eager"
       decoding="async"
       fetchpriority="high">
{% else %}
  <img src="{% static 'images/noBgIndigo600.png' %}"
       alt="Gobii Wordmark"
       class="h-10 w-auto"
       width="120"
       height="40"
       loading="eager"
       decoding="async"
       fetchpriority="high">
{% endflag %}
