{% extends "console/oauth_callback_shell.html" %}
{% load static %}

{% block oauth_callback_title %}Finishing Email OAuth Connection - Gobii{% endblock %}
{% block oauth_callback_icon %}<span class="text-lg font-semibold" aria-hidden="true">@</span>{% endblock %}
{% block oauth_callback_heading %}Finishing email connection{% endblock %}
{% block oauth_callback_status_id %}email-oauth-status{% endblock %}
{% block oauth_callback_error_id %}email-oauth-error{% endblock %}
{% block oauth_callback_script %}
  <script type="module" src="{% static 'js/agent_email_oauth_callback.js' %}"></script>
{% endblock %}
