{% load agent_extras %}
{% load humanize %}
{% load tz %}

{% if message.conversation %}
  {% with channel=message.conversation.channel %}
    {% include "console/partials/_timeline_message_card_content.html" %}
  {% endwith %}
{% elif message.to_endpoint %}
  {% with channel=message.to_endpoint.channel %}
    {% include "console/partials/_timeline_message_card_content.html" %}
  {% endwith %}
{% elif message.from_endpoint %}
  {% with channel=message.from_endpoint.channel %}
    {% include "console/partials/_timeline_message_card_content.html" %}
  {% endwith %}
{% else %}
  {% with channel="unknown" %}
    {% include "console/partials/_timeline_message_card_content.html" %}
  {% endwith %}
{% endif %}
