{% load static %}
<section class="gk-block" aria-label="Integrations" data-animate>
  <div class="gk-integr">
    <div class="gk-lbl">DELIVERS INTO THE TOOLS YOU ALREADY USE</div>
    <span class="gk-io"><img src="{% static 'images/integration-logos/greenhouse.svg' %}" alt=""><span>Greenhouse</span></span>
    <span class="gk-io"><img src="{% static 'images/integration-logos/lever.png' %}" alt=""><span>Lever</span></span>
    <span class="gk-io"><img src="{% static 'images/integration-logos/ashby.png' %}" alt=""><span>Ashby</span></span>
    <span class="gk-io"><img src="{% static 'images/integration-logos/workable.png' %}" alt=""><span>Workable</span></span>
    <span class="gk-io"><img src="{% static 'images/integration-logos/hubspot.svg' %}" alt=""><span>HubSpot</span></span>
    <span class="gk-io"><img src="{% static 'images/integrations/pipedream/google_sheets.svg' %}" alt=""><span>Google Sheets</span></span>
    <span class="gk-io"><img src="{% static 'images/integrations/pipedream/slack.svg' %}" alt=""><span>Slack</span></span>
    <span class="gk-io"><img src="{% static 'images/integration-logos/gmail.svg' %}" alt="" style="height:16px"><span>Email</span></span>
  </div>
</section>
