{% load static %}
<main id="main-content" class="gk-main relative">
  <div class="gk-luxe">
    <div class="gk-aurora-drift" aria-hidden="true"></div>
    {% include "home/_k_hero.html" %}
    {% include "home/_k_social_proof.html" %}
    {% include "home/_k_rows.html" %}
    {% include "home/_k_how_it_works.html" %}
    {# _k_value_sections now carries the "What is Gobii?" definition and the platform grid #}
    {% include "home/_k_value_sections.html" %}
    {% include "home/_k_night.html" %}
    {% include "home/_k_integrations.html" %}
    {% include "home/_k_always_on.html" %}
    {% include "home/_k_pricing.html" %}
    {% include "home/_k_faq.html" %}
    {% include "home/_k_closer.html" %}
  </div>
</main>
{% include "home/_k_scripts.html" %}
